<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReAlchemy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ReAlchemy.Properties.Settings>
            <setting name="PFLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PFSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PFMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PFMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PFEffect" serializeAs="String">
                <value />
            </setting>
            <setting name="IFLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IFSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IFMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IFMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scribeFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="scribeFolderVanilla" serializeAs="String">
                <value />
            </setting>
            <setting name="scribeFolderEnderal" serializeAs="String">
                <value />
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value />
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainMaximised" serializeAs="String">
                <value>False</value>
            </setting>
        </ReAlchemy.Properties.Settings>
    </userSettings>
</configuration>
